input {
  font-size: 2em;
  font-family: monospace;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

header {
  overflow: auto;
}

.container {
  display: flex;
  align-items: center;;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.binary {
  font-family: monospace;
  font-size: 1.5rem;
  white-space: nowrap;
  margin-bottom: 20px;
}

#subnet-calculator {
  display: inline-block;
  margin: 0 auto;
}

.ip-card:first-child {
  border-top: none;
}

.ip-card {
  border-top: 1px solid #dedede;
}

.ip-card h1 {
  margin: 10px 0;
}

.container {
  margin: 0 auto;
}

h1 {
  font-family: monospace;
  text-align: left;
}

.binary span {
  padding: 5px;
  display: inline-block;
}

.n {
  background: lightblue;
}

.h {
  background: lightgreen;
}

.s {
  background: lightgrey;
}

.on {
  filter: brightness(112%)
}

/* .off {
  filter: brightness(95%)
} */

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #121212;
    color: #fff;
  }

  input {
    background: rgb(116, 0, 184, .09);
    border: 1px solid #7400b8;
    color: rgb(255, 255, 255, .9);
  }

  .n {
    background:#1f4287;
  }

  .h {
    background: #1f8b78;
  }

  .on {
    filter: brightness(140%)
  }
}